img {
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.content {
    width: 70vw;
    padding-left: 13rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    text-align: left !important;
    color: #19191a;
}
h1, h2 {
    font-family: "Segoe UI";
    color: #5f8ee4 !important;
    text-align: left !important;
  }
  
  h1 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 .4em;
  }

p {
    text-align:left;
    margin: 5px;
}
.aboutus-img{ padding: 0 5px;}